body {
width: 1240px;
background-color: #e1ffd6;
}

.contain-everything {
max-width: 1000px;
margin: 0 auto;
background-color: #fff4db;
}

/*The below style h1 is for*/
/*the text floating on */
/*the green boxes*/

h1 {
    font-family: 'Skia', Sans-serif;
    color: #fff;
    font-size: 35px;
    position: absolute;
    left: 50px;
    top: 55px;
    z-index: 1;
}

/*The following 3 styles are for the index (home) page*/

img {
    width: 100%;
}
figure {
    margin-left: 80px;
    margin-top: 60px;
}

figcaption {
    font-family: 'Sumana', serif;
    font-size: 18px;
}

/*The next two styles are used on */
/*the two columns on the stores page*/


div .bigwrap {
    width: 900px;
}

div .container {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

/*store is the styling on the */
/*15 stores listed on the garden centers page*/

div .store {
    font-family: times;
    color: #275131;
    font-size: 16px;
    width: 300px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #fff;
}

/*intro style is on the garden page,*/
/*its in the first paragaph only and is an ID*/

#intro {
   font-family: 'Sumana', serif;
   line-height: 30px;
   color: #275131;
   font-size: 22px;
   letter-spacing: 1px;
   text-align: center;
   margin-left: 80px;
   padding-bottom: 25px;
   padding-right: 25px;
   border-bottom: 4px solid #275131;
   clear: left;
}

/*main referes to the paragraph */
/*text on the gardens page*/

.main {
    font-family: times;
    color: #275131;
    padding-left: -80px;
    padding-right: 40px;
    padding-top: 20px;
    text-align: justify;
    letter-spacing: 0px;
    margin-left: 80px;
    border-bottom: 1px solid #ffffff;
}

/*box1 to box5 are predefined rectangle.*/

/*color1 to color5 are combined 
with boxes in a class*/
/*Box and color are combined in various ways */

.box1 {
    width: 75px;
    height: 120px;
    border-radius: 0%;
    display: inline-block;
    margin: 0px;
    margin-left: -4px;
    border: 1px solid #397744;
}

.box2 {
    position: relative;
    top: 25px;
    width: 25px;
    height: 170px;
    border-radius: 0%;
    display: inline-block;
    margin-left: -4px;
    border: 1px solid #397744;
}

.box3 {
    position: relative;
    top: 50px;
    width: 45px;
    height: 100px;
    border-radius: 0%;
    display: inline-block;
    margin-left: -4px;
    border: 1px solid #397744;
}

.box4 {
    position: relative;
    top: 10px;
    width: 12px;
    height: 120px;
    border-radius: 0%;
    display: inline-block;
    margin-left: -4px;
    border: 1px solid #397744;
}

.box5 {
    position: relative;
    top: 90px;
    width: 25px;
    height: 80px;
    border-radius: 0%;
    display: inline-block;
    margin-left: -4px;
    border: 1px solid #397744;
}

.color1 {
    background-color: #8AD02F;
}

.color2 {
    background-color: #397744;
}

.color3 {
    background-color: #89f442;
}

.color4 {
    background-color: #3f9650;
}

.color5 {
    background-color: #7ed68e;
}


/*Navigation uses the final four tags*/

ul {
    list-style-type: none;
    overflow: hidden;
    margin-top: 50px;
    background-color: #7ed68e;
    border: 1px solid #397744;
}

li {
    float: left;
    font-size: 20px;
}

li a {
    display: block;
    color: #275131;
    text-align: center;
    padding: 16px;
    text-decoration: none;

}

li a:hover {
    color: #397744;
    background-color: transparent;
    /*text-decoration: underline;*/
}

    /*#cef442 od*/
    /*#89f442 od*/
    /*#3f9650 od*/
    /*#397744 od*/
    /*#7ed68e od*/




